:root {
  --color-title: #4d61dc;
  --color-title-hover: #08122a;
  --color-border: #ccc;
  --color-text: #555;
  --font-size-title: 16px;
  --font-size-text: 14px;
  --line-height-text: 18px;
}
/* #0d0c22 */

.container__home-doctor {
  color: var(--color-text);
}

.title {
  text-align: center;
  font-weight: 200;
  margin-bottom: 40px;
}

.form__search {
  border: 1px solid;
  display: flex;
  align-items: center;
  padding: 2px 4px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.line {
  position: absolute;
  left: 0;
  right: 0;
}

.infor__appointment__container {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px solid;
}

.grid__container.css-mhc70k-MuiGrid-root {
  margin-top: 0px;
  padding: 0px 40px;
}

.grid__container .grid__filter {
  border-right: 1px solid #000;
}

/* filter */

.select__text__field {
  width: 90%;
}

.label__title {
  display: block;
  margin-bottom: 18px;
  font-weight: bold;
}

.select__form-department {
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  width: 90%;
  margin-top: 40px;
  padding: 20px 10px;
}

.select__form-department:hover {
  border-color: #000;
}

.container__checkbox {
  height: 200px;
  overflow-y: auto;
}

.input__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input__checkbox input {
  transform: scale(1.4);
  margin-right: 10px;
}

/* information box */

.container__information-appointment {
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  box-shadow: rgb(32 33 36 / 28%) 0px 1px 6px;
}

.container__description {
  display: flex;
}

.container__description .img__doctor {
  border-radius: 50%;
  width: 120px;
}

.container__description .link__see-more {
  margin-top: 10px;
  display: inherit;
  text-align: center;
  text-decoration: none;
  color: var(--color-title);
}

.container__description .link__see-more:hover {
  color: var(--color-title-hover);
}

.container__infor {
  padding: 0px 10px;
}

.container__infor .title__doctor {
  font-weight: bold;
  color: var(--color-title);
  font-size: var(--font-size-title);
  text-decoration: none;
}

.container__infor .title__doctor:hover {
  color: var(--color-title-hover);
}

.container__infor .text_short {
  font-size: var(--font-size-text);
  margin-top: 12px;
  display: inline-block;
  line-height: var(--line-height-text);
}

/* time slots */
.time__slot-box {
  font-size: var(--font-size-text);
}

.package__schedule,
.container__price {
  border-bottom: 1px solid var(--color-border);
  padding: 10px 0px;
}

.container__insurance {
  padding: 10px 0px;
}

.container__icon-time {
  display: flex;
  align-items: center;
}

.container__time-slots {
  margin-top: 20px;
}

.container__time-slots > a {
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
}

.container__time-slots .time__slot-item {
  text-decoration: none;
  font-weight: bolder;
  color: #000;

  display: inline-block;
  padding: 10px 15px;
  background: #eee;
  border-radius: 3px;
}

.container__time-slots .time__slot-item:hover {
  box-shadow: 0px 0px 0px 2px var(--color-title) inset;
  text-decoration: none;
}
